
body {

}
h1 {
  font-style:italic;
  color: #747474;
}

.done {
  text-decoration: line-through;
}

#black-text{
  color: black;
}

#red-text{
  color: red;
}

#rounded-box{

  width: 250px;
  height: 150px;
  margin: 12px;
  padding: 5px;
  border: 2px solid black;
  background-color: cyan;
}

#positioned {
  position: absolute;
  top: 10px;
  left: 300px;

}
